/* N'ayyant pas la police installé sur l'ordinateur j'ai dû utilisé cette méthode pour importer la police d'écriture Inter */
@font-face {
    font-family: 'Moninter';
    src: url('Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*  Modifications aportés à l'ensemble de la page sur tous les éléments quels que soit leurs types */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold ;
}
/* le corps de la page j'ai choisi cette couleur pour ne pas que la couleur de ma partie droite qui est blanche ne rentre en conflit avec la couleur blache du body  */
body{
    background-color: rgba(20, 116, 60, 0.849);
    min-height: 100vh;
}
/* Modifications apportées sur le containeur en utilisant le display que j'ai partagé en deux parties l'une mésurant une fraction du containeur et les 3 autres fractions à la séconde partie */
.containeur{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: auto;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid black; */
}
.containeur aside{
    height: 1000px;
    background-color: #C5C4C1;
}
.containeur section{
    max-height: 1000px;
    background-color: white;
}
/* forme du haut avec un border radius vers le bas pour styliser le cv  */
.formehaut{
    position: relative;
    width: 100%;
    height: 300px;
    background-color: black;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    text-align: center;
}
.formehaut h3{
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 30px;
}
.formehaut p{
    color: white;
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 15px;
    padding-top: 8px;
}
/* j'avais utilisé un cercle avant d'intégrér une image . J'ai fini par supprimer le design du cercle mais lorsque je masque le stle css du cercle la disposition de mes éléments changent, du coup je l'ai laissé  ici sinon ça ne me sert pas à grande chose */
.formehaut .cercle{
    width: 150px;
    height: 150px;
    background-color: rgb(209, 32, 32);
    border-radius: 50%;    
}.formehaut img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    margin-top: 50px;
}
#contactinfo{
    color: black;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
#contactinfo span{
    padding-right: 20px;
    font-size: 30px;
}
.formehaut ul{
    list-style: none;
}
.formehaut ul li{
    margin: 10px;
    font-size: 15px;
    font-weight: 200;
    display: flex;
    /* justify-content: space-around; */
    margin-left: 40px;
}
.formehaut ul li span{
    padding-right: 10px;
}
/* Ici la forme du bas que j'ai utilisé avec un border radius en haut pour le style */
.formebas{
    width: 100%;
    height: 492px;
position: relative;
    background-color: black;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    text-align: center;
    margin-top: 56px;
}
.formations{
    position: relative;
    top: 90px;
    text-align: center;
    align-items: center;
}
#formainfos{
    margin-bottom: 30px;
}
.formations ul li{
    color: white;
    font-weight: 200;
    font-size: 13px;
    margin: 15px;
    text-align: center;
    list-style:disc;
}
.langues{
    position: relative;
    text-align: center;
    top: 110px;
}
#infolangues span{
    font-size: 25px;
    padding-right: 10px;
}
.langues ul li{
    color: white;
    font-weight: 200;
    font-size: 13px;
    margin: 15px;
    margin-left: 60px;
    text-align: left;
    list-style:disc;
}
.apropos{
    margin-top: 20px;
    margin-left: 40px;
}
#titrepropos{
    margin-bottom: 20px;
    margin-left:20px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 20px;
}
#titrepropos span{
    font-size: 30px;
    padding-right: 10px;
}
.apropos p{
    font-size: 16px;
    line-height: 1.5em;
}
.experiences{
    margin-top: 20px;
    margin-left: 40px;
}
#titrexp{
    margin-bottom: 10px;
    /* margin-left: 0px; */
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 20px;

}
#titrexp span{
    font-size: 30px;
    padding-right: 10px;
}
.experiences p{
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
}
.experiences h4{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}
.experiences span{
    margin-left: 30px;
    text-transform: none;
    font-weight: bold;
    font-size: 16px;
}
.experiences ul li{
    margin-left: 70px;
    margin-top: 8px;
}
#titrecompetences{
    margin-top: 20px;
    /* margin-left: 20px; */
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 20px;
    /* margin-bottom: 20px */

}
#titrecompetences span{
    padding-right: 10px;
    font-size: 30px;
}
.competences pre{
    margin-top: 10px;
    line-height: 1.3rem;
}
#tirerealisations{
    margin-left: 20px;
    margin-top: 0;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 20px;
}
#tirerealisations span{
    padding-right: 10px;
    font-size: 30px;
}
.realisations ul li{
    font-size: 14px;
}
/* Pour adapter le design de mon cv à divers plateformes j'ai utilisé ces propriétés media */
@media screen and (max-width:600px) {
    .containeur{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 100%;
        max-height: 100%;
    }
    body{
        background-color: white;
    }
    .contact{
        justify-content: center;
        text-align: center;
    }
    .contact #contactinfo{
        font-size: 30px;
    }
    .contact ul li{
        margin-left: 190px;
    }
    .formations{
        justify-content: center;
        text-align: center;
    }
    .formations #formainfos{
        font-size: 30px;
    }
    .formations ul li{
        margin-left: 190px;
    }
    .langues{
        justify-content: center;
        align-items: center;
    }
    .langues #infolangues{
        font-size: 30px;
    }
    .langues ul li{
        margin-left: 190px;
    }
    .formehaut #nomdeballa{
        font-size: 30px;
    }
    .formehaut #balladev{
        font-size: 20px;

    }
    #infolangues span{
        font-size: 30px;
        margin-right: 20px;
    }
    #formainfos span{
        font-size: 30px;
        padding-right: 10px;
    }
    .containeur section{
        margin-top: 30px;
    }
}